@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
.text-theme {
    color: #F18CE7;
}

.bg-theme {
    background-color: #F1DAFC;
}

.ring-theme {
    --tw-ring-color: #F18CE7;
}

.border-theme {
    border-color: #F1DAFC;
}

* {

    font-family: 'Amaranth', sans-serif;
}

.clip-circle {
    clip-path: circle();
    aspect-ratio: 1;
    overflow: hidden;
    object-fit: scale-down;
}

.clip-square {
    aspect-ratio: 1;
    overflow: hidden;
    object-fit: cover;
}

@layer categoria {
    .nav-categorias {
        @apply flex justify-center my-6;
    }

    .categoria {
        @apply flex items-center self-center flex-col ;
    }

    .img-categorias {
        max-width: 100% !important;
        height: 100px !important;

    }

    .text-categoria {
        @apply text-fuchsia-600;
    }
}

@layer tag {
    .nav-tags {
        @apply flex justify-center my-6 gap-4;
    }

    .tag {
        @apply flex items-center self-center flex-col ;
    }

    .img-tag {
        max-width: 100% !important;
        height: 200px !important;
    }
}


