<section class="nav-categorias drop-shadow-md">
  <% @category.each do |category| %>
    <!--    id:"<%#= dom_id category %>"-->
    <%= link_to category_path(category.id), class: "categoria", id: dom_id(category) do %>
      <%= image_tag category&.photo, class: "img-categorias" if category.photo.attached? %>
      <p class="text-categoria">
        <%= category.name %>
      </p>
    <% end %>
  <% end %>
</section>