<%= render 'categories/categoriesCircles' %>

<section class="grid grid-cols-1 text-theme p-4 justify-center">
  <article class="text-center">
    <div class="">
      <h2 class="text-4xl my-4">Como Ordenar</h2>
      <p>Unicamente agregas al carrito los articulos, completas los datos requerridos
        y al mandar el pedido se te estara enviando un correo de confirmacion de orden,
        ten en cuenta por el momento realizamos enviós en el area de la capital, si tu orden
        es a un seccion donde no tenemos cobertura se te notificará por correo</p>
    </div>
  </article>
  <article class="grid grid-cols-1 justify-items-center text-center">
    <h2 class="text-4xl mt-6 mb-4">Lo mas Vendido</h2>
    <%= image_tag @topSellerProduct&.photos[0], width: 200 if @topSellerProduct&.photos&.attached? %>
    <div class="">
      Somo una tienda en línea con mas de 10 año de experiencia, empezamos como un pequeño
      emprendimiento, realizando bisutería con diferentes materiales como porcelana fría, poco
      a poco nos fuimos expandiendo hasta tener productos sublimados e impresos.
    </div>
  </article>
</section>

<%= render 'tags/tagsFooter' %>