<div>
  <% @product.each do |product| %>
    <div class="block">
      <%= product.title %>
      Q<%= product.price %>
      <%= image_tag product&.photos[0], width: 200 if product.photos.attached? %>

      <% if product&.tags.present? %>
        <strong>Tags:</strong>
      <% end %>
      <% product&.tags.each do |tag| %>
        <span class="tag"><%= tag.name.capitalize %></span>
      <% end %>
    </div>
  <% end %>
</div>